body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  line-height: 1.6;
  color: #333;
}

.bloodpressure-background {
  background-image: url('../Images/bloodpressure_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloodpressure-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.bloodpressure-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.bloodpressure-ranges {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bloodpressure-ranges p {
  margin: 0.5rem 0;
  color: #555;
}

.bloodpressure-input-Container {
  margin-bottom: 1.5rem;
}

.bloodpressure-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.bloodpressure-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.bloodpressure-input:focus {
  outline: none;
  border-color: #007bff;
}

.bloodpressure-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.bloodpressure-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.bloodpressure-result {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: #333;
}

.bloodpressure-user-data {
  margin-top: 2rem;
}

.bloodpressure-entry {
  padding: 1.5rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.bloodpressure-entry p {
  margin: 0.5rem 0;
  color: #555;
}

.bloodpressure-entry button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.bloodpressure-entry button:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

.go-back-button {
  margin-top: 2rem;
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.go-back-button:hover {
  background-color: #5a6268;
  transform: translateY(-2px);
}