/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

/* BMI Container */
.bmi-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* BMI Heading */
.bmi-heading {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* BMI Ranges */
.bmi-ranges {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.bmi-ranges p {
  margin: 0.5rem 0;
  color: #555;
}

/* BMI Form */
.bmi-input-Container {
  margin-bottom: 1rem;
}

.bmi-label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.bmi-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.bmi-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bmi-button:hover {
  background-color: #0056b3;
}


.bmi-result {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-weight: bold;
  color: #333;
}


.bmi-user-data {
  margin-top: 2rem;
}

.bmi-entry {
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.bmi-entry p {
  margin: 0.5rem 0;
  color: #555;
}

.bmi-entry button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bmi-entry button:hover {
  background-color: #c82333;
}


.go-back-button {
  margin-top: 2rem;
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-back-button:hover {
  background-color: #5a6268;
}


.bmi-toggle-button {
  margin-top: 1rem;
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bmi-toggle-button:hover {
  background-color: #5a6268;
}
