.dashboard-container {
  position: relative;
  width: 100%;
  height: 100vh;
  
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
} 

.dashboard-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
}

.app-title {
  color: #fff;
  margin-bottom: 20px;
}

.logo {
  position: absolute;
  top: 20px; 
  left: 20px; 
  width: 100px;
  height: 100px;
}

.dashboard-components {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard-component {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px; 
  max-width: 250px; 
  flex: 1 1 auto; 
}
.app-title{
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aqua;
}

.footer {
  text-align: center;
}

.footer .copyright {
  margin: 0;
}

